<menu-component menuAtivo="fornecedor"></menu-component>
<br>
<br>
<br>

<div class="container">
  <div class="jumbotron">
    <h1>Consulta de Fornecedor</h1>
  </div>
</div>

<body>
  <div class="table-responsive">
    <table class="table table-bordered">
      <ul>
        <tr>
          <th>id</th>
          <th>Nome Fantasia</th>
          <th>Razão Social</th>
          <th>CNPJ</th>
          <th>Regime Tributaria</th>
          <th>Cidade</th>
          <th>Estado</th>
        </tr>
        <tr *ngFor="let fornecedor of fornecedores">
          <td>{{fornecedor.id}}</td>
          <td>{{fornecedor.nomeFantasia}}</td>
          <td>{{fornecedor.razaoSocial}}</td>
          <td>{{fornecedor.cnpj}}</td>
          <td>{{fornecedor.regimeTributario}}</td>
          <td>{{fornecedor.cidade.cidade}}</td>
          <td>{{fornecedor.cidade.estado.estado}}</td>
          <td>

            <div *ngIf="fornecedorService.getSelecionar() == true" class="btn-group btn-group-xs" role="group" aria-label="...">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary btn-xs" (click)="goToRetorno(fornecedor)">Selecionar</button>
                </div>
            </div>
            <div *ngIf="fornecedorService.getSelecionar() == false" class="btn-group btn-group-xs" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-success btn-xs" (click)="goToCadastro(fornecedor)">Alterar</button>
              </div>

              <div *ngIf="fornecedor.inativo == 0">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-danger btn-xs" (click)="ativoInativo(fornecedor)"> Inativar</button>
                </div>
              </div>
              <div *ngIf="fornecedor.inativo == 1">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-warning btn-xs" (click)="ativoInativo(fornecedor)"> Ativar</button>
                </div>
              </div>

            </div>

          </td>
        </tr>
      </ul>
    </table>
  </div>
</body>