<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/small-business.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top " >
    <div class="container">
      <a class="navbar-brand" href="#">PI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="nav-menu" style="display: inherit;list-style-type: none;margin: 0;padding: 0 0 0 35%;">
          <li class="nav-item" id="empresa">
            <a class="nav-link" (click)="goToEmpresa()">Empresa
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" id="produtos">
            <a class="nav-link" (click)="goToProdutos()">Produto</a>
          </li>
          <li class="nav-item" id="estoque">
            <a class="nav-link" (click)="goToEstoque()">Estoque</a>
          </li>
          <li class="nav-item" id="fornecedor">
            <a class="nav-link" (click)="goToFornecedor()">Fornecedor</a>
          </li>
          <li class="nav-item" id="comprador">
              <a class="nav-link" (click)="goToComprador()">Comprador</a>
            </li>
          <li class="nav-item" id="compra">
            <a class="nav-link" (click)="goToCompra()">Compra</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
