<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/small-business.css" rel="stylesheet">

  </head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">MEU PIRU S.A</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="nav-menu" style="display: inherit;list-style-type: none;margin: 0;padding: 0 0 0 35%;">
          <li class="nav-item" id="empresa">
            <a class="nav-link" (click)="goToEmpresa()">Empresa
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" id="produtos">
            <a class="nav-link" (click)="goToProdutos()">Produto</a>
          </li>
          <li class="nav-item" id="estoque">
            <a class="nav-link" (click)="goToEstoque()">Estoque</a>
          </li>
          <li class="nav-item" id="fornecedor">
            <a class="nav-link" (click)="goToFornecedor()">Fornecedor</a>
          </li>
          <li class="nav-item" id="compra">
            <a class="nav-link" (click)="goToCompra()">Compra</a>
          </li>
          <li class="nav-item" id="cliente">
            <a class="nav-link" (click)="goToCliente()">Cliente</a>
          </li>
          <li class="nav-item" id="venda">
            <a class="nav-link" (click)="goToVenda()">Venda</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
